name: Remote Deployment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build Pelican page
      run: pelican content -o docs -s publishconf.py -t themes/simple_bootstrap
    - name: copy to server
      env:
        remote_dir: '51198087.swh.strato-hosting.eu@ssh.strato.de:ibuttoncycle/'
      run: |
        echo "${{secrets.IBUTTONCYCLE_PRIV_KEY}}" > deploy_key
        cat deploy_key
        chmod 400 deploy_key
        rsync -cri --delete \
            -e 'ssh -i ./deploy_key -o StrictHostKeyChecking=no' \
            --exclude /deploy_key \
            --exclude /.git \
            --exclude /.github \
            ./docs/ ${{env.remote_dir}}
    
